/* Styles for contact page starts here*/

body{

    background-color: #ecf0f3;
}

.form-canvas{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-container{
    max-width: 90%;
    background: #ecf0f3;
    box-shadow: -13px -13px 20px #ffffff, 13px 13px 20px #cbced1;
    padding: 0.5em;
    border-radius: 30px;
    margin-top: 2rem;
    
} 

#image-form-group{
    background-color: white;

}


.form-group {
    background-color:#04879C;
    border: 4px solid #04879C;
    box-shadow: 0px 3px 8px rgba(white,0.3);
    display: flex;
    margin: 5px;
}

.input-group {
    position: relative;
    flex:1;
    padding: 1px;

}

.input-group label{
    position: absolute;
    font-size: 0.7rem;
    padding: 2px;
    font-weight: bold;
}

.form-section{
    margin-top: 1rem;
}

.input-group input {
    height: 2.5rem;
    width: 100%;
    border: 0;
    padding: 0.2rem 0;
    display: block;
    font-size: 1.1rem;
    text-indent:1rem;
}

.input-group textarea{
    height: 2.5rem;
    width: 100%;
    border: 0;
    padding: 0.2rem 0;
    display: block;
    font-size: 0.9rem;
    text-indent:1rem;
}

#image-upload input{
    padding: 0rem;
    font-size: 0.7rem;
  

}

#image-upload label{
    padding: 0px;
    margin-bottom: 0px;
}


#image-upload{
    display: flex;
    flex-direction: column;
    justify-content: start;
}


input[type="submit"]{
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

.input-group .description{
    height: 12rem;
}


.form-title{
    font-size: 1.5rem;
    margin: 2% auto 2% auto;
    text-align: center;color: black;
}

#contact-input-grp{
    margin-top: 1rem;
}

input[type=file]{
   font-size: 1rem;
    height: 1.5rem;;
}

label[for='image-upload']{
    color: black;
}


.form-button-container{
    display: flex;
    justify-content: center;
   
}

.form-button-container button{
    background-color: #6C63FF;
    width: 100%;
    color: white;
    padding: 0.3rem;
}



.input-group option{
    font-size: 0.9rem;
    
}

@media only screen and (min-width: 680px) {


    .form-container{
        max-width: 80%;
        padding: 2em;


    }

    .form-button-container button{
        width: 60%;
    }
    

}


@media only screen and (min-width: 999px) {


    .form-container{
        max-width: 40%;
        padding: 2em;


    }

    .form-button-container button{
        width: 60%;
    }
    

}