body 
{
    background-color:#f2f2f2;
}

img 
{
    max-width: 100%;
}

.hidden{
    display: none;
}


/* Adopting the mobile-first strategy */
/* styles for the Mobile Layout */
/* styles for the id = container */

#headercontainer 
{
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}

.divcontainer
{
    text-align: center;
}

.fieldcontainer
{
    margin-left: 1.1em;
}

.bannertext
{
    display: none;    
}

.homecontainer
{
  height: 22em;
  width: 100%;
  margin-top: -0.3em;
  border: ridge black;
  background: rgb(255,219,54);
  background: linear-gradient(90deg, rgba(255,219,54,0.846673703661152) 0%, rgba(255,219,54,1) 100%);
}

.containersignin
{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #cfcfcf;
    margin-left: 1em;
    width: 75%;
}

.banner
{
    display: none;
}

header 
{
    text-align: center;
    background-color:#303030;
    padding: 3em;
}

.explore h1 a
{
    display: none;
}

nav 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    border-color: black;
}

/* styles specifies the padding and margins of the unordered list in nav */
nav ul 
{
    padding: 0;
    text-decoration: none;
    
}
  
/* styles for the li in nav */
nav li 
{
    background-color: #bfffd0;
    border-radius: 0.2em;
    margin: 0.22em;
    padding: 0.5em;
    
}

nav li a
{
    list-style-type: none;
    text-decoration: none;
    color: #259443;
}

nav li a:hover
{
    color: white;
}

p
{
    margin-top: 1.5em;
    margin-left: 1em;
    padding-right: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #259443;
    font-size: 1.2em;
    text-align: justify;
}

h1, h2
{
    margin-left: 0.6em;
    padding-right: 1em;
    color: #259443;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer
{
    background-color:#f0f0f0;
    margin-top: 15em;
    padding: 0.2em;
    bottom: 0;
}

/* Styling for registration form  */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 12px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #bfffd0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.formbtns, .loginbtn, .cancelbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

label
{
    color: #259443;
}

.imgcontainer
{
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    height: 25%;
    width: 25%;
    padding: 0.8em;
}

.signincontainer
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 75%;
    border: 0.2em groove #4CAF50;
    padding:3em;
}

.signincontainer2
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 75%;
}

input, select, textarea
{
    display: block;
    margin-bottom: 1em;
}

label
{
    display: block;
}

/* styles for the unordered list */
form ul
{
    list-style-type: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.registrationlabel
{
    font-size: 1.2em;
    padding-bottom: 0.6em;
}

.genderselect
    {
        padding-top: 1em;
        display: flex;
        overflow: hidden;
    }

.regisbtns
    {
        margin-left: 1.2em;
        padding-top: 1em;
        display: flex;
        overflow: hidden;
    }

    /* .asidediv
    {
        margin-left: 2em;
    } */

    h4
    {
        color: #259443;
    }

    aside
    {
        float: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border:#4CAF50;
        color: #259443;
        width: 90%;
        border-radius: 1.2em 0 0 1.2em;
        border: ridge 0.6em;
        padding-bottom: 1.2em;
        margin-bottom: 1em;
        background-color: #ddd;
    }

    .desktop
    {
        display: none;
    }
/* Styling for desktop viewport begins here */
@media only screen and (min-width: 688px)
  {
    body
    {
        margin: 0;
    }

    .banner
    {
        display: inline;
    } 
  }
  .bannertext
  {
    display: inline;
    position: absolute;
    top: 5.4em;
    left: 1.5em;
    /* margin-left: 18em; */
    color: #303030;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 0.2em;
  }
/* Styling for desktop viewport begins here */
@media only screen and (min-width: 999px) 
  {
    header 
    {
        text-align: left;
    }

    .indeximages
    {
        float: right;
        margin-right: 18em;
        margin-top: 1em;
        width: 20em;
    }

    .gameswehave
    {
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
    }

    .gameswehave img
    {
        padding-right: 2.2em;
        padding-left: 2.2em;
        display: inline-block;
        text-align: center;
    }   

    .explore h3
    {
        display: inline;
        position: absolute;
        top: 12em;
        left: 4.6em;
        color: #4CAF50;
        font-size: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #303030;
        padding-right: 0.2em;
        padding-left: 0.2em;
        border-radius: 0.2em;
    }

    .explore h3:hover
    {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .explore h3 a 
    {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        color:#ddd;
    }

    .indextexts
    {
        display: inline;
        position: absolute;
        top: 22em;
        left: 8em;
        color: #4CAF50;
        font-size: 3em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-right: 0.2em;
        padding-left: 0.2em;
        border-radius: 0.2em;
    }

    .indextexts a
    {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        color:#303030;
    }
    
    .indextexts:hover
    {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    nav
    {
        float: right;
        margin-top: -3.6em;
    }

    nav ul
    {
        margin-right: 2em;
    }

    nav li
    {
        display: inline;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-left: -0.7em;
        background: transparent;
    }

    nav li a
    {
        font-size: 1.15em;
    }

    .registerlogin
    {
        float:right;
        margin-top: -12.5em;    
    }

    .containersignin
    {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        background-color: #cfcfcf;
        margin-left: 1em;
        width: 25%;
    }

    .asidediv
    {
        margin-left: 2em;
    }

    aside
    {
        float: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border:#4CAF50;
        color: #259443;
        width: 17%;
        border-radius: 1.2em 0 0 1.2em;
        border: ridge 0.6em;
        padding-bottom: 1.2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .desktop
    {
        display: inline;
    }

    .mobile
    {
        display: none;
    }
}