.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #6C63FF;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #6C63FF;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #6C63FF;
    background: #6C63FF;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
 


  .lister-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
  }

  .wrap{
      display: flex;
      justify-content: center;
      width: 90%;
  }

  .search-bar-container{
      display: flex;
      justify-content: center;
  }

  .lister{
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

  }

  .result{
      width: 85%;
      margin: 0.5rem;
      display: flex;
      justify-content: center;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
      transition: all 0.5s ease-in-out;
      font-size: 0.7rem;
      padding: 0.7rem;
      border-radius: 5px;
  }

  .result:hover{
    box-shadow: 0px 5px 14px rgba(0,0,0,0.4);
}

  .result .img-container{
      background-image: url('../images/bobal_logo.png');
      /* background-position: fixed; */
      background-repeat: no-repeat;
      background-size: cover;
      width: 30%;
      max-width: 30%;
  }

  .result .detail-container{
      flex-grow: 2;
      display: flex;
      flex-direction: column;
  }


  .upper-deck, .lower-deck{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
  }

  .lower-deck{
    margin-top: 1rem;
  }

  .upper-deck .card-title{
      flex-grow: 2;
      font-size: 1rem;
      font-weight: bold;
      padding-left: 0.5rem;
      display: flex;
      justify-content: center;
  }

  .upper-deck .card-btn{
      line-height: 1rem;
      background-color: black;
      color: white;
      border-radius: 5px;
      
  }




  @media only screen and (min-width: 680px) {

    .wrap{
        width: 70%;
    }

    .result{
        width: 68%;
        margin: 0.5rem;
        font-size: 1.2rem;
    }


    .upper-deck .card-title{
       
        font-size: 1.6rem;
        font-weight: bold;
        padding-left: 0.5rem;
    }
  }