<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobal - Any game, Any time</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div id="headercontainer">
    <!-- Front page banner -->
        <header>
            <a href="index.html"
              ><img src="..images/bobal_icon.png" alt="logo"/></a>
          </header>

   <!-- Nav bar items for moving to different pages -->
   <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="contactus.html">Contact Us</a></li>
    </ul>
  </nav>

  <!-- main content of the website -->
  <main>
      <article>
          <div>
              <img class ="banner" src="images/banner.png" alt="home_banner"><br/>
              <p class="welcometext"></p>
        </div>
      </article>
  </main>

  <!-- footer of the webpage -->
  <footer>
    &copy; Copyright 2020. All Rights reserved. <br/>
  </footer>
</div>
</body>
</html>